package cmpt

templ HTML(body templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>GoWebStack</title>
			<link rel="stylesheet" href="/assets/styles.css" />
			<script src="/assets/reload.js" defer />
		</head>
		<body>
			@body
		</body>
	</html>
}